# Ignored files
*.class
*.jar
*.lst
*/target/
*.idea/
*.iml
*/target/*
.idea/workspace.xml
/bin/
/WebContent/
sm-shop/SALESMANAGER.lock.db
.DS_Store
*/sm-shop/**
.project
sm-admin/**/rebel*.xml
sm-shop/**/rebel*.xml
sm-admin/.project
sm-core-model/.project
sm-core-modules/.project
sm-core/.project
sm-shop/.project
**/bin
**/build
**/.settings
**/.classpath
*/sm-shop/src/main/resources/*
sm-shop/src/main/resources/database.properties

.mvnw/*.jar

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
