# After filling this properties copy this file nad change name to .env - cp .env.example .env
#application properties
SHOPIZER_PORT=8090
SHOPIZER_HOST=http://localhost
#DB properties
DB_HOST=mysql
DB_PORT=3306
DB_EXTERNAL_PORT=3307
DB_NAME=shopizer
DB_USER=shopizer
DB_PASSWORD=shopizer123
DB_ROOT_PASSWORD=rootpassword
#JWT
JWT_SECRET=aSecret
JWT_EXPIRATION=604800
#FacebookApp
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_APP_ACCESS_TOKEN=
#E-mail
MAIL_PROTOCOL=smtps
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=youremail@gmail.com
MAIL_PASSWORD=yourpassword
#Default or ses
CONFIG_EMAIL_SENDER=default
#Security
SECRET_KEY=7070200000000007
#cms
CMS_CONTENT_URL=
CMS_STORE_LOCATION=
CMS_FILES_LOCATION=
#GoogleMap
GOOGLE_MAPS_KEY=
#Recaptcha
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=